
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>All Products : Aling Nena </title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/admin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Aling Nena</a>
          <a class="navbar-brand" href="/products">Product List</a>
          <a class="navbar-brand" href="/about">About</a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="admin">
        <h1><%= "Buying #{@product.name}" %></h1>
        <form role="form" method="POST" action="<%= "/purchase_product/#{@product.id}" %>">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="amount" class="col-sm-2 control-label">Amount to be bought:</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" name="items" placeholder="There are <%= @product.quantity %> in stock">
              </div>
            </div>
            <div class="form-group">
            
              <label for="thousands" class="col-sm-2 control-label">Thousands</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" name="thousands" placeholder="Enter number of thousand bills" value="0">
              </div>
             <div class="form-group">
              <label for="fivehundreds" class="col-sm-2 control-label">Five Hundred's</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" name="fivehundreds" placeholder="Enter number of five hundred bills" value="0">
              </div>  
            <div class="form-group">
              <label for="hundreds" class="col-sm-2 control-label">Hundreds</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" name="hundreds" placeholder="Enter number of hundred bills" value="0">
              </div>
            </div>
            <div class="form-group">
              <label for="fifties" class="col-sm-2 control-label">Fifties</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" name="fifties" placeholder="Enter number of fifty bills" value="0">
              </div>
            </div>     
            <div class="form-group">
              <label for="twenties" class="col-sm-2 control-label">Twenties</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" name="twenties" placeholder="Enter number of twenty bills" value="0">
              </div>
            </div> 
            <div class="form-group">
              <label for="tens" class="col-sm-2 control-label">Tens</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" name="tens" placeholder="Enter number of tens coins" value="0">
              </div>
            <div class="form-group">
              <label for="fives" class="col-sm-2 control-label">Five's</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" name="fives" placeholder="Enter number of five peso coins" value="0">
              </div>
            </div> 
            <div class="form-group">
              <label for="ones" class="col-sm-2 control-label">One's</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" name="ones" placeholder="Enter number of one peso coins" value="0">
              </div>
            </div> 
            </div>           
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default btn-primary" a href="/receipt_product/id">Purchase</button>

                <a href="/products" class="btn btn-default">Back to Product List</a>
              </div>
            </div>
          </form>

      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
